#search-box {
  background-color: white;
  background-image: url('searchicon.png');
  background-repeat: no-repeat;
  padding-left: 40px;
  border: 2px solid;
  border-color: #999;
  border-radius: 5px;
  width: 150px;
  height: 25px;

  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

#search-box:focus {
    width: 95%;
}
