/* Font initialisation  */
/*Blog Title*/
@font-face {
    font-family: 'Pacifico';
    src: url('Polices\\pacifico\\Pacifico.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Other title */
@font-face {
    font-family: 'Josefin_sans';
    src: url('Polices\\josefin-sans\\JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Body font */
@font-face {
    font-family: 'Roboto';
    src: url('Polices\\roboto\\Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* ------------------------------------------------------*/
/* Header */

.background-image {
  position: fixed;
  left: 0;
  top :0;
  z-index: 1;

  display: block;
  background-image: url('20171021_074659.jpg');
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
  background-size:cover;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.head {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Pacifico', Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.presentation{
  color : white;
}

nav {
  padding-top: 3%;
}

nav a {
  color : white;
  padding-left: 5%;
}

.blog-corpus {
  background-color: white;
  position: absolute;
  top: 330px; left: 50%;
  transform: translate(-50%);
  z-index: 9999;

  width: 800px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Générale */
a { /* Les liens sont en noir et ne sont pas soulignés */
	color: #FFA526;
	text-decoration: none;
}

a:hover{
	color: #FFA526;
	text-decoration: underline;
}

h2, h3 {
  color: #695533;
  font-family: 'Josefin_sans', Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}
body, input[text], button {
  color: #757575;
  font-family: 'Roboto' , Arial, Helvetica, sans-serif;
}

/* everywhere else */
* {
  font-family:'Roboto', Arial, Helvetica, sans-serif;
}
